{
  "name": "{{.ProjectName}}",
  "private": true,
  "type": "module",
  "scripts": {
    "css:dev":   "tailwindcss -i ./web/static/src/app.css -o ./web/static/dist/app.css --watch",
    "css:build": "tailwindcss -i ./web/static/src/app.css -o ./web/static/dist/app.css --minify"
  },
  "devDependencies": {
    "@tailwindcss/cli": "^4.3.0",
    "tailwindcss": "^4.3.0"
  }
}
