package handlers

import (
	"net/http"
	"strconv"

	"{{.ModulePath}}/web/components"
)

func counterInc(_ Deps) http.HandlerFunc {
	return func(w http.ResponseWriter, r *http.Request) {
		cur, _ := strconv.Atoi(r.FormValue("count"))
		w.Header().Set("Content-Type", "text/html; charset=utf-8")
		if err := components.Counter(cur + 1).Render(r.Context(), w); err != nil {
			http.Error(w, err.Error(), http.StatusInternalServerError)
		}
	}
}
